<div style="text-align:center">
  <ul>
    <li style = " padding:1%;font-weight:bold;color:#41584b;">Hit the + button to add a new item.</li>
    <li style = " padding:1%;font-weight:bold;color:#41584b;">Hit CheckBox to delete Item</li>
  </ul>
</div>

</body>

<footer>
  Copyright 2020 @Ambuj Mishra
  <div style="margin:1%">
    <a href="https://ambuj501.github.io/">About Me</a>
  </div>

</footer>

</html>
